html, body, #map {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.leaflet-control-go-to-home a,
.leaflet-control-radiator a,
.leaflet-control-charts a,
.leaflet-control-timeline a {
	font-size: 1.4em;
	color: #444;
}