html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

.status-free {
	background-color: green;
}

.status-occupied {
	background-color: red;
}

.status-unknown {
	background-color: orange;
}

.Grid-cell {
  border: 1px black solid;
}

.grid-cell-content {
  text-align: center;
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 4em;
  color: white;
}